.aboutUsContainer{
    text-align: center;
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    overflow-x: hidden;
}

.developersSection{
    display: flex;
    flex-direction: column;
}

.developerInfo{
    margin: 0 5px;
}

.skillName {
    margin: 0;
}

.developerInfo p {
    margin: 7px 0;
}

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    height: 66vh;
    width: 90vw;
    margin: 20px auto;
}

.developerImg{
    margin-top: 5px;
    height: 16vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid #1A265A;
}

.aboutusTitle{
    margin: 8px 0 1px 0;
}

.aboutusSkill{
    margin: 0 0 4px 0 ;
}

.skillList{
    text-align: center;
}
/*  for ipad Pro, and incase any tablet is at 2000 px */
@media all and (max-width: 2000px) {
    .developer{
        display: flex;
        align-items: center;
        text-align: center;
        border: 3px solid black;
        height: 49vh;
        width: 43vw;
        margin: 20px auto;
    }
    .developersSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .developerInfo p {
        margin: 7px 0;
        font-size: larger;
    }
}

/* for Ipad Air */
@media all and (max-width: 920px)  {
    .developer{
        display: flex;
        align-items: center;
        text-align: center;
        border: 3px solid black;
        height: 60vh;
        width: 43vw;
        margin: 20px auto;
    }
    .developersSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .developerInfo p {
        margin: 7px 0;
        font-size: larger;
    }
}

/* Ipad Mini */

@media all and (max-width: 800px) {
    .developer{
        display: flex;
        align-items: center;
        text-align: center;
        border: 3px solid black;
        height: 80vh;
        width: 43vw;
        margin: 20px auto;
    }
}

/* Iphone 14 Pro max, and Iphone XR */
@media all and (max-width: 600px){
    .developer{
        display: flex;
        align-items: center;
        text-align: center;
        border: 3px solid black;
        height: 88vh;
        width: 90vw;
        margin: 20px auto;
    }
} 

/* Iphone SE and Iphone 12 pro */
@media all and (max-width: 400px) {
    .developer{
        width: 90vw;
        height: 108vh;
    }
}



