.header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vh;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: #50A5B1;
    box-sizing: border-box;
    z-index: 9999;
}

.headerLogo {
    background-image: url("../../../public/Assets/BlueLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    height: 15vh;
    aspect-ratio: 1/1;
    border: none;
    width: auto;
}

.headerInfoBtn {
    background-image: url("../../../public/Assets/aboutuswhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 3vh;
    margin-left: 13px;
    aspect-ratio: 1/1;
    background-color: #50A5B1;
    border: none;
    width: auto;
}

.headerProfileBtn {
    background-image: url("../../../public/Assets/Profilewhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    height: 3vh;
    margin-left: 13px;
    aspect-ratio: 1/1;
    background-color: #50A5B1;
    border: none;
    width: auto;
}

.headerLogoutBtn {
    display: flex;
    align-items: center;
    height: 7vh;
    aspect-ratio: 1/1;
    background-color: #50A5B1;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    width: auto;
}

.headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.orangeProfile {
    background-image: url("../../../public/Assets/Profileorange.png");
}
.orangeAboutUs{
    background-image: url("../../../public/Assets/aboutusorange.png");
}