.searchContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.searchForUserHeading {
  margin: 50px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.searchFormContainer {
  display: flex;
  align-items: flex-end;
}

.searchInput {
  height: 100%;
  width: 400px;
  border-radius: 5%;
  border: 2px solid;
  font-size: 25px;
}

.searchBtn {
  border-radius: 5%;
}

.searchLinkToUserProfile {
  text-decoration: none;
}

.searchUserProfileContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .searchInput {
    width: 300px;
  }
}
